[submodule "docker-openvpn"]
	path = docker-openvpn
	url = git@github.com/s-abhinav/docker-openvpn
	branch = master
	ignore = all
[submodule "adblock-dns"]
	path = adblock-dns
	url = git@github.com:s-abhinav/adblock-dns.git
	branch = master
	ignore = all
